@import "tailwindcss";

@theme inline {
    --text-sm: 0.875rem;
    --text-sm--line-height: 1rem;
    --text-sm--font-weight: 500;

    --text-base: 1rem;
    --text-base--line-height: 1.125rem;
    --text-base--font-weight: 500;

    --text-lg: 1.25rem;
    --text-lg--line-height: auto;
    --text-lg--font-weight: 500;

    --text-xl: 1.5rem;
    --text-xl--line-height: auto;
    --text-xl--font-weight: 500;

    --text-2xl: 1.75rem;
    --text-2xl--line-height: auto;
    --text-2xl--font-weight: 500;

    --text-3xl: 2rem;
    --text-3xl--line-height: auto;
    --text-3xl--font-weight: 500;

    --text-4xl: 3rem;
    --text-4xl--line-height: auto;
    --text-4xl--font-weight: 500;

    --text-5xl: 4rem;
    --text-5xl--line-height: auto;
    --text-5xl--font-weight: 500;

    --text-6xl: 5rem;
    --text-6xl--line-height: auto;
    --text-6xl--font-weight: 500;

    --text-7xl: 6rem;
    --text-7xl--line-height: auto;
    --text-7xl--font-weight: 500;

    --text-8xl: 7rem;
    --text-8xl--line-height: auto;
    --text-8xl--font-weight: 500;

    /*
    COLOR
    */
    --color-*: initial;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-brand-primary-50: #e6e6ed;
    --color-brand-primary-100: #cccddb;
    --color-brand-primary-150: #b3b5ca;
    --color-brand-primary-200: #999cb8;
    --color-brand-primary-250: #8083a6;
    --color-brand-primary-300: #666a94;
    --color-brand-primary-350: #4d5182;
    --color-brand-primary-400: #333971;
    --color-brand-primary-450: #19205f;
    --color-brand-primary-500: #00074d;
    --color-brand-primary-550: #000645;
    --color-brand-primary-600: #00063e;
    --color-brand-primary-650: #000536;
    --color-brand-primary-700: #00042e;
    --color-brand-primary-750: #000427;
    --color-brand-primary-800: #00031f;
    --color-brand-primary-850: #000217;
    --color-brand-primary-900: #00010f;
    --color-brand-primary-950: #000108;

    --color-brand-secondary-50: #e9f3f6;
    --color-brand-secondary-100: #d3e7ed;
    --color-brand-secondary-150: #bddbe3;
    --color-brand-secondary-200: #a7cfda;
    --color-brand-secondary-250: #92c3d1;
    --color-brand-secondary-300: #7cb7c8;
    --color-brand-secondary-350: #66abbf;
    --color-brand-secondary-400: #509fb5;
    --color-brand-secondary-450: #3a93ac;
    --color-brand-secondary-500: #2487a3;
    --color-brand-secondary-550: #207a93;
    --color-brand-secondary-600: #1d6c82;
    --color-brand-secondary-650: #195f72;
    --color-brand-secondary-700: #165162;
    --color-brand-secondary-750: #124452;
    --color-brand-secondary-800: #0e3641;
    --color-brand-secondary-850: #0b2931;
    --color-brand-secondary-900: #071b21;
    --color-brand-secondary-950: #040d10;

    --color-link: var(--color-brand-secondary-300);

    --blur-mouse: 4vh;
    --blur-blob: 8vh;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) var(--color-brand-primary-500);
}

.transition-blob {
    transition:
        left 2s,
        right 2s;
}

.link {
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background: var(--color-brand-secondary-500);
        transition: all 0.25s;
    }

    &:hover::after {
        left: 0;
        width: 100%;
    }
}

@property --tpp-brand-primary {
    syntax: "<color>";
    inherits: false;
    initial-value: #0873b680;
}

@property --tpp-brand-secondary {
    syntax: "<color>";
    inherits: false;
    initial-value: #25346a80;
}

.bg-tpp {
    background: linear-gradient(120deg, var(--tpp-brand-primary), var(--tpp-brand-secondary));
    transition:
        --tpp-brand-primary 0.25s,
        --tpp-brand-secondary 0.25s;

    &:hover {
        --tpp-brand-primary: #0873b6;
        --tpp-brand-secondary: #25346a;
    }
}
